{% extends "basic.html" %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'patient/consult_a_doctor/consult_a_doctor.css' %}">

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css"
  rel="stylesheet">

{% endblock %}




{% block body %}



<br>
<center>
  <h2 style="background-color: #1b405a; height: 70px; border-radius: 6px;color: white; padding-top: 10px;"> Consult With
    Doctor </h2>
</center>
<div class="container  mt-5 mb-3">
  <br>






  <table class="table table-hover table-bordered" style="text-align:center ;">
    <thead class="thead-dark">
      <tr>
        <th>Doctor name</th>
        <th>Specialization</th>
        <th>Email</th>
        <th>Ratings</th>
        <th>View profile</th>
        <th>Consult</th>
      </tr>
    </thead>

    <tbody style="background-color: white ; color: #1b405a ; font-size: 17px;">

      {% for i in dobj %}


      <tr>
        <td>{{i.name}}</td>
        <td>{{i.specialization}}</td>
        <td>{{i.user.email}}</td>
        <td>{{i.rating}}/5</td>
        <td>

          <form action="{% url 'dviewprofile' i.user.username %}" method="GET">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary" style="background-color: #1b405a ; color:white;">view
              profile</button>
          </form>

        </td>
        <td>

          <form action="{% url 'make_consultation' i.user.username %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary" style="background-color: #1b405a ; color:white;">
              Consult</button>
          </form>

        </td>
      </tr>


      {% endfor %}


    </tbody>
  </table>



</div>

{% endblock %}