{% extends "basic.html" %}
{% load static %}


{% block head %}


{% endblock %}




{% block body %}



<div class="jumbotron">
  <h1 class="display-4">You got a friend in me..</h1>
  <p class="lead">
    A friend is a person whom one likes a lot and who is not a part of one’s family. 
    “A Friend in Need is a Friend Indeed” is a phrase that describes the most important characteristic of a true friend.
    Most noteworthy, the phrase means that a true friend is the one who helps someone at a time of need. 
    Such a friend is certainly a precious asset in an individual’s life.



    {% if user.is_authenticated %}


    {% else %}

  <p class="lead">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target=".bd-example-modal-lg"
      style="background-color: #1b405a;">Get
      started</button>
  </p>


</div>

<br><br><br>
<div class="container mt-5 mb-3" style="width:fit-content;">
  <center style="padding-top:5px ;">
    <h1
      style="font-size: 27px; letter-spacing: .5px; font-weight: bold; background-color:#1e4b6b; color: white; padding-top: 10px; height: 60px; width: 200px;border-radius: 10px; border-color: rgb(127, 144, 255); border-width: 2px;border-style: double;font-family: sans-serif;">
      Sign in</h1>
  </center>


  <form>
    <div class="container mt-5 mb-5">
      <div class="row">
        <div class="col">
          <a href="{% url 'sign_in_admin' %}">
            <img alt="admin" src="{% static 'homepage/admin.jpg' %}" class="img">
          </a>
          <center>
            <h1 style="background-color: #1b405a ; color:whitesmoke; font-size : 15px; border-radius: 5px ; text-decoration:none; "> 
              <a style="color: white;" href="{% url 'sign_in_admin' %}"> Admin</a> </h1>
          </center>
        </div>

        <div class="col">
          <a href="{% url 'sign_in_doctor' %}">
            <img alt="doctor" src="{% static 'homepage/doc.jpg' %}" class="img">
          </a>
          <center>
            <h1 style="background-color: #1b405a ; color:whitesmoke; font-size : 15px; border-radius: 5px ; text-decoration:none; "> 
              <a style="color: white;" href="{% url 'sign_in_doctor' %}"> Doctor</a> </h1>
          </center>
        </div>

        <div class="col">
          <a href="{% url 'sign_in_patient' %}">
            <img alt="patient" src="{% static 'homepage/patient.jpg' %}" class="img">
          </a>
          <center>
          <h1 style="background-color: #1b405a ; color:whitesmoke; font-size : 15px; border-radius: 5px ; text-decoration:none; "> <a style="color: white;" href="{% url 'sign_in_patient' %}"> Patient</a> </h1>
        </center>
        </div>
      </div>
    </div>
  </form>
</div>




{% endif %}

<br><br>




<!-- Large modal -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <center>
        <h1
          style="font-size: 29px; font-weight: bold; background-color:#1e4b6b; color: white; padding-top: 10px; height: 60px; width: 200px;border-radius: 100px; border-color: rgb(127, 144, 255); border-width: 2px;border-style: double; font-family: sans-serif;">
          Sign in As</h1>
      </center>
      <br><br>

      <center>
        <form>
          <div class="container mt-5 mb-5">
            <div class="row">
              <div class="col">
                <a href="{% url 'sign_in_admin' %}">
                  <img alt="admin" src="{% static 'homepage/admin.jpg' %}" class="img">
                </a>
              </div>

              <div class="col">
                <a href="{% url 'sign_in_doctor' %}">
                  <img alt="doctor" src="{% static 'homepage/doctor.png' %}" class="img">
                </a>
              </div>

              <div class="col">
                <a href="{% url 'sign_in_patient' %}">
                  <img alt="patient" src="{% static 'homepage/patient.png' %}" class="img">
                </a>
              </div>
            </div>
          </div>
        </form>
      </center>

    </div>
  </div>
</div>







<!-- Large modal -->

<div class="modal fade bd-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <center>
        <h1
          style="font-size: 29px; font-weight: bold; background-color:#2e6388; color: white; padding-top: 10px; height: 60px; width: 200px;border-radius: 10px; border-color: rgba(14, 20, 67, 0.181); border-width: 2px;border-style: double; font-family: sans-serif;;margin-top: 10px;">
          Sign up As</h1>
      </center>
      <br><br>

      <center>
        <form>
          <div style="width: 600px ;">
            <div class="container mt-5 mb-5 ml-5 mr-5">
              <div class="row">

                <div class="col">
                  <a href="{% url 'signup_doctor' %}">
                    <img alt="doctor" src="{% static 'homepage/doc.jpg' %}" class="img">
                  </a>
                </div>
                <div class="col">
                  <a href="{% url 'signup_patient' %}">
                    <img alt="patient" src="{% static 'homepage/patient.jpg' %}" class="img">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </center>

    </div>
  </div>
</div>





<br><br><br><br>
<center>
  <h2
    style="font-size: 27px; letter-spacing: .5px; font-weight: bold; background-color:#2b5879; color: white; padding-top: 10px; height: 60px; width: 200px;border-radius: 10px; border-color: rgb(127, 144, 255); border-width: 2px;border-style: double; font-family: sans-serif;">
    Our Mentors</h2>
</center>
<div class="row mt-5 mb-5">
  <div class="col">
    <div class="card"
      style="height: 300px ; font-family:sans-serif; font-weight: bolder; color: whitesmoke ;background-color: black;">
      <div class="card-body text-center">
        <h5 class="card-title">Dr. Name </h5>
        <img alt="admin" src="{% static 'homepage/doc.jpg' %}"
          style="border-color: white ; border-style: solid; border-width: 3px; border-radius: 50%; width: 180px;height: 180px;">
        <p class="card-text" style="padding-top:10px ;">Doctor Degree</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card"
      style="height: 300px ; font-family: sans-serif; font-weight: bolder; color: whitesmoke ;background-color: black;">
      <div class="card-body text-center">
        <h5 class="card-title">Dr. Name </h5>
        <img alt="admin" src="{% static 'homepage/doc.jpg' %}"
          style="border-color: white ; border-style: solid; border-width: 3px; border-radius: 50%; width: 180px;height: 180px;">
        <p class="card-text" style="padding-top:10px ;">Doctor Degree</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card"
      style="height: 300px ; font-family: sans-serif; font-weight: bolder; color: whitesmoke ;background-color: black;">
      <div class="card-body text-center">
        <h5 class="card-title">Dr. Name </h5>
        <img alt="admin" src="{% static 'homepage/doc.jpg' %}"
          style="border-color: white ; border-style: solid; border-width: 3px; border-radius: 50%; width: 180px;height: 180px;">
        <p class="card-text" style="padding-top:10px ;">Doctor Degree</p>

      </div>
    </div>
  </div>
</div>


<br><br><br><br>














<div id="footer" class="card bg-dark text-white"
  style="color: white; font-family: sans-serif; font-size: 13px; font-style:italic; ">
  <div class="card-body" style="background-color: #2b5879; border-radius: 10x;font-size: 15px; ">
    Contact Us

    <ul>

      <li>
        <p class="mb-1" style="color: white; font-family: sans-serif; font-size: 13px; font-style:italic; ">Email:
          trident@bondhu.in</p>
      </li>
      <li>
        <p class="mb-1" style="color: white; font-family: sans-serif; font-size: 13px; font-style:italic; ">Contact no.
          015-7558-24556 </p>
      </li>
      <li>
        <p class="mb-1" style="color: white; font-family: sans-serif; font-size: 13px; font-style:italic; ">Address:
          East West University, Aftabnagar</p>
        <p></p>
        <div class="footer-copyright text-center">© 2022 Copyright:
          <a href="#"> bondhu.com </a>
        </div>
      </li>

    </ul>
  </div>
</div>








</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>







{% endblock %}